<div>
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th >UserName</th>
          <th >Email</th>
          <th >Mobile</th>
          <th >Id</th>
          <th >Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userDetail">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user._id}}</td>
            <td>
              <form>
                <input type="radio" id="permit" name="access" value="permit" [checked]="user.access == true" (change)="access($event,user._id)">
                <label for="permit">AccessPermit</label><br>
                <input type="radio" id="denied" name="access" value="denied" [checked]="user.access == false" (change)="access($event,user._id)">
                <label for="denied">AccessDenied</label><br>
              </form>
            </td>
        </tr>
      </tbody>
    </table>