
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <header class="text-center pb-5">
                        <h1 class="h2">CloudKitchenWeb</h1>
                    </header>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"Nothing Brings People Together like Good FOOD!" </p>
                </blockquote>
            </div>
             <div class="col-lg-6 mx-auto">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"Nothing is better than going home to family and eating good FOOD and relaxing."</p>
                </blockquote>
            </div>
        </div>
           
         <div class="row">
            <div class="col-lg-6 mx-auto">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"To a man with an empty stomach, FOOD is god." </p>                    
                </blockquote>
            </div>
            <div class="col-lg-6 mx-auto">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"Laughter is the brightest in the place where FOOD is good!" </p>
                </blockquote>
            </div>     
        </div>
    </div>
</section>
    