<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <ul class="nav  mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-login"style="background-color:green;color: white;margin-left: 200px;" role="tab" aria-selected="true">Product Detail</a>
                    </li>
                </ul>
                <form [formGroup]="adminForm" novalidate>
                <div class="form-outline mb-4">
                    <label class="form-label" for="registerName">FoodName</label>
                    <input type="text"  formControlName="foodName" class="form-control" name="foodName" required id="registerName"  />
                    <small class="text-danger">FoodName is required</small>
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="number">FoodDetail</label>
                    <input type="text" id="number"  size="50"formControlName="foodDetail" class="form-control" required name="foodDetail"/>
                    <small class="text-danger">FoodDetail is required</small>
                  </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="reqQgisterEmail">FoodPrice</label>
                    <input type="number" id="registerEmail" formControlName="foodPrice"  class="form-control" required name="foodPrice" />
                    <small class="text-danger">Food price is required</small>
                </div>
            
                <div class="form-outline mb-4">
                    <label class="form-label" for="registerPassword">Food Image</label>
                    <input type="text" id="registerPassword"  formControlName="foodImage" class="form-control"  name="foodImage" />
                    <small class="text-danger">Food Image is required</small>
                </div>
    
                
                <button type="submit"  style="background-color:green;color: white;margin-left: 200px;" class="btn mb-3" routerLink="../product" (click)="add(adminForm)">Add product</button>

            </form>
        </div>
    </div>
</div>