.active-link{
    color:var(--primary-color);
    font-weight: bold;
    color:blue;
    text-decoration: underline;
}

.active-link{
    color:var(--secondary-color);
}

#formcolor{
    background-color: rgb(202, 206, 203);
}
