.content h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
}
.content{
    position: absolute;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    top: 20%;
    left:34%;
    width: 500px;
}