<div class="banner" *ngIf="!emailCheck">
    <div class="content">
        <form #userForm="ngForm">  
            <div class="form-outline mb-4">
                <label class="form-label" for="registerEmail">Enter the register email</label>
                <input type="email" id="registerEmail" #email="ngModel" size="50" pattern="([a-z0-9-_\.]+)@([a-z0-9]+)\.([a-z]{2,5})(\.[a-z]{2,5})?$" class="form-control" required
                [class.is-invalid]="email.invalid && email.touched"  name="email" [(ngModel)]="userModel.email" />
                <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small><br>
                <small class="text-danger" *ngIf="email.errors?.['pattern']">invalid Email<br> Email should not contain uppercase</small>
            </div>  

            <button class="btn btn-primary" (click)="checkEmail(userForm)">Submit</button>  
        </form>  
    </div>
</div>

<div class="banner" *ngIf="emailCheck">
    <div class="content">
        <form  [formGroup]="userForm">

            <div class="form-outline mb-4">
              <label class="form-label" for="loginName">New password</label>
              <input type="password" id="loginName"formControlName="password" class="form-control" name="password">  
              <span   *ngIf="password.hasError('required') && password.touched" class="error"><small class="text-danger">password is Required</small></span><br>
              <span   *ngIf="password.hasError('pattern') && password.touched" class="error"><small class="text-danger">password should contain 1 uppercase with 8 characters with no special characters</small></span>      
            </div>
     
            <div class="form-outline mb-4">
              <label class="form-label" for="loginPassword">Confirm password</label>
              <input type="password" id="loginPassword" formControlName="confirmPassword" class="form-control" name="confirmPassword" (blur)="validation(userForm)" />         
              <span   *ngIf="confirmPassword.hasError('required') && confirmPassword.touched" class="error"><small class="text-danger">password is Required</small></span> <br> 
              <span   *ngIf="confirmPassword.hasError('pattern') && confirmPassword.touched" class="error"><small class="text-danger">password should contain 1 uppercase with 8 characters with no special characters</small></span>    
            </div>
      
            <button type="submit" mat-stroked-button size="10"  style="background-color:green;color: white;margin-left: 350px;"  [disabled]="userForm.invalid" class="btn mb-4" (click)=" updatepassword(userForm)">Submit</button>
        
          </form>
    </div>
</div>

