
<div class="row float-right mr-2 mt-2">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="add()">Add New Product</button>
  </div>
</div>

<div>
  <table class="table table-bordered mt-3 p-3">
    <thead>
      <tr>
        <th >FoodName</th>
        <th >FoodDetail</th>
        <th >Food Price</th>
        <th >FoodImage</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of product">
        <td>{{u.foodName}}</td>
        <td>{{u.foodDetail}}</td>
        <td>{{u.foodPrice}}</td>
        <td>{{u.foodImage}}</td>
        <td> 
          <button mat-icon-button color="primary" [routerLink]="['/update/',u._id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
