
<div class="row float-right mt-2 mr-2 mb-2">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="addProduct()">Add New Product</button>
  </div>
</div>

<div>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th >FoodName</th>
        <th >FoodDetail</th>
        <th >Food Price</th>
        <th >FoodImage</th>
        <th >url</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of product">
        <td>{{u.foodName}}</td>
        <td>{{u.foodDetail}}</td>
        <td>{{u.foodPrice}}</td>
        <td><img src="{{u.foodImage}}" height="50" width="50"></td>
        <td>{{u.foodImage}}</td>
        <td> 
          <button mat-icon-button color="primary" [routerLink]="['/update',u._id]" (click)="doUpdate(u._id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="doDelete(u._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
