
<div class="banner">
    <div class="content">
        <h1 class="mb-4">CloudKitchenWeb</h1>
        <form #userForm="ngForm" >  
             
            <div class="form-group">  
                <h3 for="website">Enter the Role</h3>  
                <select  #role="ngModel" class="form-control" name="role" [(ngModel)]="userModel.role">   
                    <option *ngFor="let data of access">{{data}}</option>  
                </select>  
            </div>  
             
            <button class="btn btn-primary" [disabled]="userForm.invalid" (click)="submit(userForm)">Submit</button>  
        </form>  
    </div>
</div>